{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    {% endblock %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    {% include 'partials/nav-bar.html' %} 
    {% block pagecontent %}
    {% endblock %}
    {% include 'partials/footer.html' %} 
</body>
</html> 